.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  margin-bottom: 1rem;
}

input[type='text'] {
  flex: 1;
  margin-right: 1rem;
  padding: 0.5;
}